<!-- Certificates Grid Section -->
    <section id="certificates" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">certificates</h2>
                    <h3 class="section-subheading text-muted"></h3> <!-- No text, for now -->
                </div>
            </div>
            <div class="row display-flex">
            {% for certificate in site.certificates %}
                <div class="col-md-3 col-sm-4 col-xs-6 certificates-item">
                    <a href="#certificatesModal{{ certificate.modal-id }}" class="certificates-link" data-toggle="modal">
                        <div class="certificates-hover">
                            <div class="certificates-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/certificates/{{ certificate.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="certificates-caption">
                        <h4>{{ certificate.title }}</h4>
                        <p class="text-muted">{{ certificate.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
